<h1>New Doctor Hire for <%= @hospital.name %></h1>

<%= form_for [@hospital, @doctor] do |f| %>
  <%= f.label :name, 'Name:' %>
  <%= f.text_field :name %><br>
  
  <%= f.label :specialty, 'Specialty:' %>
  <%= f.text_field :specialty %><br>
  
  <%= f.label :education, 'Education:' %>
  <%= f.text_field :education %><br>
  
  <%= f.submit 'Hire Doctor' %>
<% end %>