<h1> <%= @hospital.name  %> </h1>

<p>Address: <%= @hospital.address %></p>
<p>City: <%= @hospital.city %></p>
<p>State: <%= @hospital.state %></p>
<p>Zip: <%= @hospital.zip %></p>

<p>Number of Doctors: <%= @hospital.doctors.count %></p>

<h1>Doctor Education</h1>
<br>
<p><% @hospital.unique_doctor_educations.each do |education| %></p>
  <p> <%= education %> </p>  
<% end %>

 <%= link_to 'View Patients', "/hospitals/#{@hospital.id}/patients" %>
 <br>
 <%= link_to 'Add Doctor', "/hospitals/#{@hospital.id}/doctors/new" %>