<h1><%= @hospital.name %></h1>

<section class='address'>
  <p><%= @hospital.address%></p>
  <p><%= @hospital.city %>, <%= @hospital.state %><%= @hospital.zip %></p>
</section>

<section class='doctors'>
  <% if @hospital.doctors.empty? %>
    <p>This Hospital has no doctors.</p>
  <% else%>
    <p>Doctors: <%= @hospital.doctor_count %></p>
    <p>Doctors were educated at: <%= @hospital.doctor_universities %></p>
  <% end %>
</section>

<%= link_to "Add New Doctor", "/hospitals/#{@hospital.id}/doctors/new" %>

<%= link_to "View All Patients", "/hospitals/#{@hospital.id}/patients" %>
