<h1><%= @hospital.name %></h1>
<h2><%= @hospital.address %></h2>
<h2><%= @hospital.city %></h2>
<h2><%= @hospital.state %></h2>
<h2><%= @hospital.zip %></h2>
<div class='doctor-info'>
  <h2>Number of Doctors: <%= @hospital.number_of_doctors %></h2>
  <h2>Where our doctors were educated:</h2>
  <% @hospital.doctor_alma_maters.each do |university| %>
    <p><%= university %></p>
  <% end %>
</div>