<h1>Hospital Show</h1>

<section id="hospital-info">
  <h3>Name: <%=@hospital.name %></h3>
  <p>Street Address: <%=@hospital.address %></p>
  <p>City: <%=@hospital.city %></p>
  <p>State: <%=@hospital.state %></p>
  <p>Zip: <%=@hospital.zip %></p>
</section>

<section id="doctor-info">
  <p>Number of Doctors: <%=@hospital.doctor_count %></p>
  <p>Universities Attended: <%=@hospital.uniq_universities %></p>
</section>

<%= link_to "View Patients at #{@hospital.name}", hospital_patients_path(@hospital) %>