<section id="hospital">
  <h2><%= @hospital.name %></h2>
  <h2><%= @hospital.address %></h2>
  <h2><%= @hospital.city %></h2>
  <h2><%= @hospital.state %></h2>
  <h2><%= @hospital.zip %></h2>
</section>

<section id="num-of-docs">
  <%= @hospital.number_of_doctors %>
</section>

<section id="universities">
  <% @hospital.universities.each do |university| %>
    <%= university %>
  <% end %>
</section>

<section id="link">
  <%= link_to "View Patients", "/hospitals/#{@hospital.id}/patient_index" %>
  <%= link_to "Add Doctor", "/hospitals/#{@hospital.id}/new_doctor", method: :get %>
</section>
