<h1><%= @hospital.name %></h1>
<p>Address: <%= @hospital.full_address %></p>

<section id='doctors'>
  <p>Number of Doctors at Hospital: <%= @hospital.count_of_doctors %></p>
</section>

<%= link_to "Add Doctor to Hospital", "/hospitals/#{@hospital.id}/doctors/new" %>


<br>
<h3>Universities this hospital's doctors have attended:</h3>
<section id='universities'>
  <% @hospital.unique_universities.each do |university_name| %>
    <%= university_name %><br>
  <% end  %>
</section>
<br><br>

<%= link_to "All Patients", hospital_patients_path(@hospital) %>