<h1> <%= @hospital.name %> </h1>

<h3> <%= @hospital.address %> </h3><br>
<h3> <%= @hospital.city %> </h3><br>
<h3> <%= @hospital.state %> </h3><br>
<h3> <%= @hospital.zip %> </h3><br>

<h4>Current number of doctors: <%= @hospital.doctors.count %> </h4><br>

<%=  @hospital.list_schools %>
