<h1>New Doctor Hire for <%= Hospital.find(params[:id]).name %> </h1>

<%= form_tag "/doctors/#{params[:id]}", method: :post do |f| %>

  <%= label_tag :name %>
  <%= text_field_tag :name %>

  <%= label_tag :specialty %>
  <%= text_field_tag :specialty %>

  <%= label_tag :school %>
  <%= text_field_tag :school %>

  <%= submit_tag 'Hire Doctor' %>
<% end %>
