<h1>"New Doctor Hire for <%= @hospital.name %>"</h1>

<%= form_tag("/hospitals/#{@hospital.id}/doctors", method: :post) do %>
  <%= label_tag "Name" %>
  <%= text_field_tag :name %>

  <%= label_tag "Specialty" %>
  <%= number_field_tag :specialty %>

  <%= label_tag "Education" %>
  <%= number_field_tag :education %>

  <%= submit_tag "Submit" %>
<% end %>
