<h1><%= @doctor.name %></h1>
<h2><%= @doctor.specialty %></h2>
<h2><%= @doctor.education %></h2>
<h2>Works at: <%= @doctor.hospital.name %></h2>
<h2>Patients:</h2>
<% @doctor.patients.each do |patient| %>
  <p><%= patient.name %></p>
<% end %>