<h1><%= @doctor.name %></h1>
<h2><%= @doctor.specialty %></h2>
<h3><%= @doctor.education %>, M.D.</h3>

<p>Employed at: <%= @doctor.hospital.name %> (
<%= link_to "Assign #{@doctor.name} to a Different Hospital", edit_doctor_path(@doctor.id) %>)</p>

<br/>
<h4>Patients: </h4>
<% @doctor.patients.each do |patient| %>
   <section class= "patient-<%= patient.id%>">
     <p><%= patient.name %></p>
     <%= button_to "Remove from Caseload", doctor_patient_path(doctor_id: @doctor.id, id: patient.id), method: :delete %>
  </section>
<% end %>
