<h1><%= @doctor.name %></h1>

<h2>Specialty: <%= @doctor.specialty %></h2>
<h2>University: <%= @doctor.education %></h2>
<h2>Hospital: <%= @doctor.hospital.name %></h2>
<h2>Patients:</h2>
<% @doctor.patients.each do |patient| %>
<ul>
  <%= patient.name %>
</ul>
<% end %>
