<h1><%= @doctor.name %></h1>

<p>Specialty: <%= @doctor.specialty %></p>
<p>Education: <%= @doctor.education %></p>

<ul>
  <li>Hospital: <%= @doctor.hospital.name %></li>
  <h1>Patients:</h1>
  <% @doctor.patients.each do |patient| %>
    <section id = "patient-<%= patient.id %>">
    <li><%= patient.name %>: <%= button_to "Remove Patient", "/patients/#{patient.id}?doctor_id=#{@doctor.id}", method: :delete %></li>
    </section>
  <% end %>
</ul>
