<h1><%=@doctor.name%></h1>

  <p><%=@doctor.specialty%></p>
  <p><%=@doctor.hospital.name %></p>

  <section id=doctors_patients>
    <%@pats.flatten.each do |patient|%>
    <section id="patient-<%=patient.id%>">
    <%= patient.name %>
    <%= link_to "remove patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %>
    </section><% end %>
  </section>
