<h1> <%=@doctor.name %> </h1>

<h3>Specialty </h3><br>
<p><%=@doctor.specialty  %></p><br>

<h3>Education </h3><br>
<p> <%=@doctor.education  %></p>

<h3>Hospital </h3><br>
<p><%=@doctor.hospital.name %></p>

<h2>Patients </h2><br>

<ul>
  <%@doctor.patients.each do |patient|%>
    <li id= <%=patient.id%>>
      <%=patient.name%>
      <%= link_to "Remove Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete %></li>
  <% end %>
</ul>
