<h1>Doctor <%=@doctor.name%></h1>
<strong>Specialty: <%=@doctor.specialty%></strong></br>
<strong>Education: <%=@doctor.education%></strong></br>
<strong>Hospital: <%=@doctor.hospital.name%></strong>
<%= link_to "Assign #{@doctor.name} to a Different Hospital", "/doctors/#{@doctor.id}/edit" %>

Patients: <%@doctor.patients.each do |patient|%>
<section class="patient-<%=patient.id%>">
  <%=patient.name%>
  <%=button_to "Delete Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :delete%>
</section>
<%end%>
