<h1><%= @doctor.name %></h1>

<section class='info'>
  <p><%= @doctor.hospital.name %></p>
  <%= link_to "Assign #{@doctor.name} to a Different Hospital", "/doctors/#{@doctor.id}/edit" %>
  <p><%= @doctor.speciality %></p>
  <p><%= @doctor.education %></p>
</section>


<% @doctor.patients.each do |patient| %>
<section class='patient-<%= patient.id %>'>
  <p>Name: <%= patient.name %></p>
  <%= link_to "Remove Patient From Caseload", "/doctors/#{@doctor.id}/patients?patient_id=#{patient.id}", method: :delete %>
</section>
<% end %>
