<h1><%= @doctor.name %></h1>

<p>Specialty: <%= @doctor.specialty %></p>
<p>Education: <%= @doctor.education %></p>

<ul>
  <li>Hospital: <%= @doctor.hospital.name %></li>
  <h1>Patients:</h1>
  <% @doctor.patients.each do |patient| %>
    <li><%= patient.name %></li>
  <% end %>
</ul>
