<h2> <%= @doctor.name %></h2>

<ul>
  <li> Specialty: <%= @doctor.specialty %></li>
  <li> University: <%= @doctor.university %></li>
  <li> Hospital: <%= @doctor.hospital.name %></li>
  <li>Patients:</li>
    <ul>
      <% @doctor.patients.each do |patient| %>
        <li> <%= patient.name %></li>
      <% end %>
    </ul>
</ul>
